.bg-theme{
    background-color:#026467 ;
}
.bg-secondary-theme{
    background-color: #E5F5EA;
}
.text-theme-primary{
    color:#026467;
}
.btn-sub{
    height: 58px;
    border: none;
    font-size: 13px;
    background-color: #026467;
}