<div class="card mb-5 mt-5 pb-5 shadow-effect">
    <div class="card-body">
        <h4 class="mt-3 mb-3">Comments(2175)</h4>
        <div class="comment-box mt-3">
            <h6 class="mb-0">Ezhil</h6>
            <small class="text-danger">Last Updated - sep 20,2023</small>
            <div class="mt-3 mb-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque ipsa repellendus eos delectus cum asperiores molestias eveniet unde! Eligendi architecto voluptatem cum laborum sequi. Quia perferendis voluptate labore sint facere!
            </div>
            <a href="#" class="mt-1">Reply</a>
            <a href="#" class="mt-1 ml-3">View Reply</a>
            <hr>
        </div>
        <div class="comment-box mt-3">
            <h6 class="mb-0">Ezhil</h6>
            <small class="text-danger">Last Updated - sep 20,2023</small>
            <div class="mt-3 mb-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque ipsa repellendus eos delectus cum asperiores molestias eveniet unde! Eligendi architecto voluptatem cum laborum sequi. Quia perferendis voluptate labore sint facere!
            </div>
            <a href="#" class="mt-1">Reply</a>
            <a href="#" class="mt-1 ml-3">View Reply</a>
            <hr>
        </div>
        <div class="comment-box mt-3">
            <h6 class="mb-0">Ezhil</h6>
            <small class="text-danger">Last Updated - sep 20,2023</small>
            <div class="mt-3 mb-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque ipsa repellendus eos delectus cum asperiores molestias eveniet unde! Eligendi architecto voluptatem cum laborum sequi. Quia perferendis voluptate labore sint facere!
            </div>
            <a href="#" class="mt-1">Reply</a>
            <a href="#" class="mt-1 ml-3">View Reply</a>
            <hr>
        </div>
    </div>
</div>
