<div class="card">
    <div class="card-body">
        <div class="text-center mt-3 mb-5">Contact Us</div>
        <form action="" [formGroup]="form" class="justify-content-center d-flex flex-column align-items-center mb-5 mt-5">
            <div class="form-group col-md-8">
                <input type="text" class="form-control shadow-effect" placeholder="Your Name" formControlName="name">
            </div>
            <div *ngIf="fc['name'].touched && fc['name'].invalid" >
                <div class="alert alert-danger">Name is Required</div>
            </div>
            <div class="form-group col-md-8">
                <input type="email" class="form-control shadow-effect" placeholder="Your email" formControlName="email">
            </div>
            <div class="alert alert-danger" *ngIf="fc['email'].touched && fc['email'].invalid">This field is Required</div>
            <div class="form-group col-md-8">
                <textarea name="" id="" cols="41" rows="5" class="form-control shadow-effect" placeholder="Your query goes here" formControlName="query"></textarea>
            </div>
            <div class="alert alert-danger" *ngIf="fc['query'].touched && fc['query']?.invalid">This field is Required</div>
            <div class="col-md-3">
                <button class="btn btn-block btn-info btn-sub" (click)="contact()" [disabled]="!form.valid">SUBMIT</button>
            </div>
            <div class="col-md-3 m-2">
                <button class="btn btn-info btn-sm mt-2 btn-sub" href=" " (click)="home()">Back to Home</button>
            </div>
        </form>
    </div>
</div>