<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 textcenter">
                <div class="site-logo">ANG-BLOG</div>
                <div>
                    <ul class="nav justify-content-center">
                        <li class="nav-item"><a href="" class="nav-link">Home</a></li>
                        <li class="nav-item"><a (click)="about()" class="nav-link" >About</a></li>
                        <li class="nav-item"><a (click)="terms()" class="nav-link" >Terms & Conditions</a></li>
                        <li class="nav-item"><a  class="nav-link" (click)="contact()">Contact</a></li>        
                    </ul>
                </div>
                <p class="mb-2 mt-2">Copyrights 2021 Angular Blog</p>
            </div>
        </div>
    </div>
</footer>
