<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse brand" id="navbarTogglerDemo01">
      <a class="navbar-brand"  data-toggle="tooltip" title="Go to Profile" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
      </svg></a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <!-- <li class="nav-item ">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Disabled</a>
        </li> -->
        <li class="nav-item"><a href="" class="nav-link">Home</a></li>
        <li class="nav-item"><a (click)="about()" class="nav-link" >About Us</a></li>
        <!-- <li class="nav-item"><a (click)="terms()" class="nav-link" >Terms & Conditions</a></li> -->
        <li class="nav-item"><a  class="nav-link" (click)="contact()">Contact</a></li>
      </ul>
       <div class="container text-center justify-content-center">
            <a href="#" class="site-logo">ANG-BLOG</a>
        </div>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <div *ngIf="loggedIn">
        <li class="nav-item" (click)="log()"><a  class="nav-link">Log Out</a></li>
        </div>
        <div *ngIf="!loggedIn">
            <li class="nav-item"><a (click)="log()" class="nav-link">Log In</a></li>
        </div>
      </ul>
      <!-- <ul class="nav navbar-nav navbar-right">
        <li class="nav-item"><a href="" class="nav-link">Help</a></li>
        <li class="nav-item"><a href="" class="nav-link">Log Out</a></li>
        <li class="nav-item"><a href="" class="nav-link">Log In</a></li>
      </ul> -->
    </div>
       
  </nav>
