<div class="card mb-2">
    <img src="https://images.unsplash.com/photo-1536924940846-227afb31e2a5?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8YXJ0fGVufDB8fDB8fHww" alt="card-image" class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center ">Design</small>
        <small class="bg-light text-success text-center ml-3">Featured</small>
        <small class="bg-light text-danger text-center ml-3">Views-10025</small>
        <h5 class="mt-1">Angular blog post 1</h5>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia voluptatibus ea minus reprehenderit quo saepe vero nulla, velit quos quae expedita quam temporibus at, quidem et labore illum eveniet odio?</p>
        <small class="bg-light text-warning text-center ml-3">Updated -  Jan 3 2023</small>
    </div>
</div>